@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: rgb(22, 15, 6);
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 85px;
    background-color: black;
    color: rgb(22, 169, 34);
}

nav ul li{
    padding: 0 18px;
}
.brand img{
    width: 48px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5rem;
}

.container{
    min-height: 75vh;
    background-color: black;
    color: white;
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin: 23px auto;
   width: 70%;
   border-radius: 12px;
   padding: 34px;
   background-image: url('bg.jpg');
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 120px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.icons{
    margin-top: 14px; 
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw; 
    cursor: pointer;
}

.songItemContainer{
    margin-top: 78px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    
    color: rgb(22, 22, 216);
    margin: 15px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 38px;
}

.songItem img{
    width: 45px;
    margin: 0 25px;
    border-radius: 38px;
}

.timestamp{
    margin: 0 25px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 15vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
      background-color: rgb(32, 0, 128);
    }
  }
  